#adminApp {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.5rem;

  .fieldApp, #submitApp {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;

    input {
      padding: 0.4rem;
      border-radius: 0.5rem;
    }

    input[type=file] {
      color: red;
      background-color: #F9F9F9;
      border: none;
      font-size: 1.3rem;
      padding: 0.5rem;
      cursor: pointer;
      border-radius: 0.5rem;
    }

    label {
      font-size: 1.5rem;
      color: #F9F9F9;
    }
  }

  #submitApp {
    color: red;
    background-color: #F9F9F9;
    border: none;
    font-size: 1.3rem;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 0.5rem;
  }
}

#allApp {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .linkDisplay {
    border: 0.3rem solid #000000;
    background-color: #004aad;
    border-radius: 0.5rem;
    padding: 2rem;
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 30rem;
      height: 20rem;
    }

    a {
      color: red;
    }

    .linkImage {
      color: #F9F9F9;
      padding: 1.5rem;
    }
  }
}
