@use "./modules/vars";
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: vars.$color-background;
}

html {
  font-size: 62.5%;
  font-family: 'Orbitron', sans-serif;
}

#container {
  display: flex;

  #logo {
    background-image: url("/assets/images/logo.png");
    background-size: cover;
    width: 15rem;
    height: 15rem;
  }

  #navigation, #links {
    margin: 10rem 0;
  }

  #navBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    border-right: 0.3rem solid #F9F9F9;
    padding: 1.5rem;
    color: vars.$color-font;

    .clock, #date {
      font-size: 1.4rem;
    }

    h1 {
      font-size: 2rem;
      padding: 1rem;
    }

    #navigation > ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      list-style-type: none;
      padding: 0.5rem;

      li {
        padding: 1.5rem;

        a {
          text-decoration-line: none;
          color: vars.$color-font;
          font-size: 1.5rem;
        }
      }
    }

    #links > ul {
      display: flex;
      justify-content: space-between;
      list-style-type: none;

      li {
        padding: 1rem;

        a {
          color: vars.$color-font;
          font-size: 2.5rem;
        }

        a:hover {
          color: #F9F9F9;
        }
      }
    }
  }
}

#home:hover, #skills:hover , #site:hover , #contact:hover {
  text-transform: uppercase;
  color: transparent;
  text-shadow: 0.2rem 0.2rem 1rem vars.$blue;
  text-align: center;
  letter-spacing: 0.1rem;
  animation: flicker 0.5s ease-in-out infinite alternate;
}

@keyframes flicker {
  0% {
    opacity: 0.5;
    text-shadow: 0.2rem 0.2rem 1rem vars.$blue;
  }
  100% {
    opacity: 1;
    text-shadow: 0.2rem 0.2rem 1rem vars.$blue;
  }
}

#content {
  display: flex;
  justify-content: space-around;
  margin: 10rem auto;

  #resume {
    display: flex;
    flex-direction: column;
    padding: 2.5rem;

    h1 {
      font-size: 3rem;
      color: vars.$color-font;
      padding: 1.5rem;
    }

    p {
      font-size: 1.6rem;
      color: vars.$color-font2;
      letter-spacing: 0.1rem;
    }
  }

  #image {
    background-image: url("/assets/images/dev-2.gif");
    background-size: cover;
    width: 65rem;
    height: 45rem;
    padding: 2.5rem;
  }
}

#content {
  display: flex;
  justify-content: center;
  align-items: center;
}

#formContact {
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 3rem;
    color: vars.$color-font;
    padding: 1.5rem;
  }

  form {
    #subject {
      padding: 1rem;

      input {
        width: 100%;
      }
    }

    #name {
      display: flex;
      justify-content: space-between;
      padding: 1rem;
      input {
        width: 48%;
      }
    }

    #textarea {
      padding: 1rem;

      textarea {
        padding: 1rem;
        background-color: vars.$color-background;
        border: 0.1rem solid vars.$color-font2;
        color: vars.$color-font2;
      }
    }

    #submit {
      padding: 1rem;
      display: flex;
      justify-content: flex-end;

      input {
        border: 0.1rem solid vars.$color-font;
        color: vars.$color-font;
        background-color: vars.$color-background;
        padding: 1rem 4rem;
        cursor: pointer;
        border-radius: 0.3rem;
      }
    }
  }
}

.input {
  padding: 1rem 0.5rem;
  background-color: vars.$color-background;
  border: 0.1rem solid vars.$color-font2;
  color: vars.$color-font2;
}




