@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(24, 113, 155, 0.52);
  background-image: url("/assets/images/font.jpg");
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
  font-family: 'Orbitron', sans-serif;
}

h1 {
  color: #F9F9F9;
  margin: 3.5rem 5rem;
  font-size: 3rem;
}

h2 {
  color: #F9F9F9;
  margin: 3.5rem 5rem;
  font-size: 2rem;
}

h3 {
  color: aliceblue;
  font-size: 1.5rem;
}

a {
  text-decoration-line: none;
  font-size: 1.8rem;
}

#title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#connect {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 1rem;

  p {
    color: #F9F9F9;
    text-align: center;
    font-size: 1.3rem;
    padding: 1rem;
  }

  #logout {
    color: red;
    background-color: #F9F9F9;
    font-size: 1.3rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
  }
}


header {
  background-color: aliceblue;
  padding: 1.5rem;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-wrap: wrap;

  #logo {
    background-image: url("/assets/images/logo.png");
    background-size: contain;
    width: 15.3rem;
    height: 5.4rem;
  }

  #menu {
    a {
      padding: 0.5rem 1.5rem;
      margin: 0 1rem;
      color: #004aad;
    }

    a:hover {
      color: #004aad;
    }
  }

  #log {
    a {
      padding: 0.6rem 0.8rem;
      margin: 0 0.5rem;
      font-size: 1.5rem;

      #in {
        background-color: #004aad;
        color: white;
        padding: 0.125rem 0.25rem;
        border-radius: 0.3rem;
      }
    }

    #login, #register {
      position: relative;
      box-sizing: border-box;
      text-decoration: none;
      color: #004aad;
    }

    #login::before, #login::after, #register::before, #register::after {
      position: absolute;
      display: block;
      content: "";
      width: 0;
      border-top: 0.2rem solid #004aad;
      transition-duration: 0.5s;
    }

    #login::before, #register::before {
      top: -0.2rem;
      left: 0;
    }

    #login::after, #register::after {
      bottom: -0.3rem;
      right: 0;
    }

    #login:hover, #register:hover {
      color: black;
    }

    #login:hover::before, #login:hover::after, #register:hover::before, #register:hover::after {
      width: 75%;
    }
  }
}

#home:hover, #skills:hover, #application:hover, #contact:hover {
  color: transparent;
  text-shadow: 0.2rem 0.2rem 1rem #004aad;
  animation: flicker 0.5s ease-in-out infinite alternate;
}

#formContact {
  margin: 3.5rem 8.5rem;

  #form {
    width: 65%;
    background-color: aliceblue;
    border-radius: 0.5rem;
    padding: 1.5rem;
    border: 0.3rem solid blue;

    form {
      display: flex;
      flex-direction: column;
      align-items: center;

      #submit {
        transition: all 0.3s ease-in-out;
        background-color: rgba(0, 0, 255, 0.63);
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        border: none;
        font-size: 18px;
      }

      #submit:hover {
        transform: scale(0.9);
        box-shadow: 0 0 10px #000000;
      }

      .field {
        background-color: rgba(100, 149, 237, 0.44);
        width: 90%;
        display: flex;
        flex-direction: column;
        margin: 1.5rem;
        padding: 1.5rem;

        label {
          font-size: 1.5rem;
          padding: 0.5rem 0;
        }

        input[type=text], input[type=email], textarea {
          padding: 0.5rem;
          font-size: 1.5rem;
          border-color: #004aad;
          border-radius: 0 0.5rem 0 0.5rem;
          color: #004aad;
          resize: none;
        }
      }
    }
  }
}

#font_logo {
  margin: 7.5rem;
  background-image: url("/assets/images/dev-2.gif");
  background-size: contain;
  width: 700px;
  height: 450px;
}

#info {
  margin: 3.5rem 2.5rem;

  ul {
    li {
      color: #F9F9F9;
      list-style-type: none;
      font-size: 2rem;
      letter-spacing: 0.1rem;
    }
  }
}


#targetDiv {
  width: 90%;
  margin: 3.5rem 2.5rem;

  #target {
    font-size: 2rem;
    letter-spacing: 0.1rem;
    color: #F9F9F9;
  }

  .cursor {
    font-size: 2rem;
    animation: blink 1s infinite;
    color: #F9F9F9;
  }
}

footer {
  margin-top: 10rem;
  padding: 2rem;
  background-color: #29334b;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  #left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #middle {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #right {
    display: flex;
    flex-direction: column;
    align-items: center;

    #logo_footer {
      background-image: url("/assets/images/logo.png");
      background-size: contain;
      width: 15.3rem;
      height: 5.4rem;
    }
  }

  #copy {
    width: 100%;
    text-align: center;
    color: #F9F9F9;
    padding: 2.5rem;
  }
}

.menu_footer {
  padding: 1rem 2rem;

  li {
    list-style-type: none;
    padding: 0.25rem;

    a {
      color: #F9F9F9;
      font-size: 1.2rem;
    }
  }
}

.success {
  background-color: #32bb32;
  padding: 1.5rem;
  text-align: center;
  font-size: 1.5rem;
  color: #F9F9F9;
}

// Animation for cursor effect
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// Animation for border in input
@keyframes flicker {
  0% {
    opacity: 0.5;
    text-shadow: 0.2rem 0.2rem 1rem #004aad;
  }
  100% {
    opacity: 1;
    text-shadow: 0.2rem 0.2rem 1rem #004aad;
  }
}

@media screen and (max-width: 1050px) {
  #log {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 1rem;
  }

  #formContact {
    width: 80%;
    #form {
      width: 100%;
    }
  }
}

@media screen and (max-width: 805px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  header {
    padding: 0.5rem;
  }

  #menu {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 1rem;
  }

  #formContact {
    width: 80%;
    margin: 2rem auto;

    #form {
      width: 100%;
    }
  }
}

@media screen and (max-width: 600px) {
  header {
    #log {
      #login, #register {
        font-size: 1.3rem;
      }
    }
    flex-direction: column;
    flex-wrap: nowrap;

    #menu {
      flex-direction: column;

      a {
        font-size: 1.3rem;
      }
    }
  }

  #targetDiv {
    #target {
      font-size: 1.5rem;
    }

    .cursor {
      font-size: 1.5rem;
    }
  }

  #info {
    ul {
      li {
        font-size: 1.5rem;
      }
    }
  }

  #font_logo {
    width: 300px;
    height: 175px;
    margin: 3.75rem;
    background-repeat: no-repeat;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  footer {
    padding: 0.5rem;
    #right {
      display: none;
    }
  }

  .menu_footer {
    padding: 0.5rem;
  }

  #formContact {
    width: 98%;

    #form {
      form {
        .field {
          width: 90%;
          margin: 0.5rem;
          padding: 0.5rem;
        }
      }
    }
  }
}






